.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #9c0e2f;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.event-list {
  height: 100%;
  width: 20%;
  background: #f5f7f9;
  overflow: scroll;
  float: left;
  position: absolute;
}

.navbar {
  float: right;
  width: 80%;
  background: #f5f7f9;
}

.content {
  float: right;
  right: 0px;
  width: 80%;
}

.login-form {
  float: right;
  right: 0px;
  width: 100%;
}
